@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

 
.resume{
	width: 800px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}

.left{
	background:  #333333;
	width: 250px;
	padding: 0 20px;
}

.right{
	width: calc(100% - 250px);
}

.left .img_holder{
	text-align: center;
	padding: 20px 20px;
}

.left .img_holder img{
	width: 200px;
	height: 200px
	 
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:  #ffffff;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}
.title1{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:  #000000;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}
.title2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:  #ffffff;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}
.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 100px;
	height: 3px;
	background:  #ffffff;
}
.title2:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 100px;
	height: 3px;
	background:  #ffffff;
}
.title1:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 100px;
	height: 3px;
	background:  #000000;
}

.left .icon
{
	font-size: 20px;
	color: #ffffff;
}

.left .text{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
}

.contact .li_wrap,
.skills .li_wrap,
.hobbies .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
    padding-left :10px;
	list-style-type: circle;
}

.contact .li_wrap .icon,
.hobbies .li_wrap.icon
.skills .li_wrap.icon{
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text
.skills .li_wrap .text,
.hobbies .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #fff;
    text-decoration: bold;
    text-size-adjust: 20px;
}
.skills_wrap pb a
{
 text-decoration-color: #fff;
 text-size-adjust: 1000px;
}
skills .li_wrap .text
{
	text-align: center
}
 
.header{
	background:  #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .name{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fd0000;
}

.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.right_inner{
	padding: 30px;
	color: #000000;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color:  #dd1818;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color:  #dd1818;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

 

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background:  #dd1818;
}
ul.a {
	list-style-type: circle;
  }